#avatar_container{
    display:flex;
    gap:30px;
}

#avatar_img{
    width:6rem;
    height:6rem;
    border-radius:4rem;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

#avatar_img:hover{
    opacity:0.4;    
}

#avatar_name{
    position:absolute;
    display:none;
    font-weight:bold;
    cursor:pointer;
    color:var(--color-main-accent);
    letter-spacing:1px;
}
#avatar_name.showing{
    display:block;
}

#avatar_box{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,0.3);
    border-radius:50px;
    transition: 0.2s;
}
#avatar_box:hover{
    transform:scale(1.05);
}
#avatar_box.selected{
    outline: 4px solid var(--color-main-accent);
    outline-offset: 5px;
}
